/*body
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: .8em;
    background-color: #ffffff;
    margin-left: 2px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}*/

/*.widget-panel {
    line-height: 20px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

.widget-panel .title {
    color: #005200;
    font-weight: bold;
    display: table-cell;
    font-size: 1.1em;
    font-variant: small-caps;
}

.widget-panel .attribute-label {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: Gray;
    font-size: 0.8em;
    margin-top: 10px;
    line-height: 20px;
}

.widget-panel .inline-label {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: Gray;
    margin-top: 10px;
    line-height: 20px;
}

.widget-panel .text-no-label {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.widget-panel .inline-value, .widget-panel .text {
    color: black;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.widget-panel .attribute-label + .links {
    padding-top: 12px;
}

.widget-panel .text + .links {
    padding-top: 12px;
}

.widget-panel .text-no-label + .links {
    padding-top: 12px;
}

.annotation
{
    position: relative;
    width: 60px;
    display: inline;
}

.annotationbutton .over
{
    background-color: #717190;
}

.interventionid
{
    display: none;
}
.mpidentity{
    display:table;
    width:100%;
}
.mpphoto img
{
    width:80px;
}

.affiliationPanel, .documentPanel, .billPanel, .motionPanel, .organizationPanel
{
    line-height: 20px;
}

.interventionPanel
{
    width: 100%;
    padding: 10px 2px 2px 2px;
    margin: 2px; /* font-size: 0.9em;     background: #fff;     */
    display: table;
}

.mpcontents
{
    display:table-cell;
    vertical-align: top;
    width:100%;
}

.parldata-widget-popover-close {
    cursor: pointer;
    margin-right: -6px;
    padding-top: 2px;
}

.parldata-widget-popover{
    min-width:300px !important;
    width:500px !important;
    max-width:500px !important;
}

@media (max-width: 767px) {

    .parldata-widget-popover {
        width:400px !important;
    }
}

@media (max-width: 480px) {

    .parldata-widget-popover {
        /*top: 40px !important;*/
        left: 0 !important;
        min-width:calc(100% - 20px) !important;
        width: calc(100% - 20px) !important;
        max-width: calc(100% - 20px) !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

@media (max-width: 400px) {

    .parldata-widget-popover {
        min-width:calc(100% - 4px) !important;
        width: calc(100% - 4px) !important;
        max-width: calc(100% - 4px) !important;
        margin-left: 4px !important;
        margin-right: 4px !important;
    }
}

.billinfo, .organizationInfo
{
    /*width: 300px;*/
    display:table-cell;
}

.mpphoto
{
    display:table-cell;
    vertical-align:top;
    padding-right: 10px;
    width:1%;
}

.defaultPhoto 
{
    float: left;
    background: url('../Images/person_icon.png') ;
    height: 140px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px, 0, -5px, 10px;
}


.billPanel .billNumberCode
{
    /*float: left;*/
    display:table-cell;
    /*width: 70px;*/
    /*height: 160px;*/
    
    vertical-align: top;
    white-space: nowrap;
    padding-right: 10px;
}


.interventionPanel .icon, .affiliationPanel .icon, .billPanel .icon
{
    /*padding: 2px 10px;*/
	height: 20px; 
}

.billUri,.mpinfo
{
    padding-top:8px;
}

 .copyright
{

	font-size: 0.8em;
	font: arial;
	text-align:center;
	line-height:normal ;
    color: gray;
}

.legisinfo
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -180px no-repeat;
}
.houseStatus
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -180px no-repeat;
}
.mpprofile
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -180px no-repeat;
}
.mprss
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -180px no-repeat;
}
.mpexperience
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -160px no-repeat;
}
.mpvoting
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -140px no-repeat;
}
.mpvideo
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -120px no-repeat;
}
.mpaudio
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -120px no-repeat;
}
.mptopics, .displayTopics
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -60px no-repeat;
}
.displayTopicsForMP
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -20px no-repeat;
}
.mpfacebook
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -100px no-repeat;
}
.mptwitter
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -80px no-repeat;
}
.mprss
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -40px no-repeat;

}

.mpsharelink
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 0px no-repeat;
}

.widget-icon{
    height: 20px;
    width: 20px;
    font-size: 13px;
    overflow: hidden;
}

.mpprofile, .legisinfo, .mpexperience, .mpvoting, .mpvideo, .mptopics, .mpsharelink, .mpfacebook, .mptwitter, .displayTopics, .displayTopicsForMP, .mprss, .mpaudio
{
    height: 20px;
    padding-left: 16px;
    line-height: 17px;
}


/* Bill */

.billNumberCode
{
    color: #005200;
    font-size: 1.1em;
    font-weight: bold;
}

.billLongTitle
{
    font-family: Verdana, Helvetica, sand-serif;
    font-variant: small-caps;
    font-size: 1.1em;
}
.billlongname
{
    font-family: Verdana, Helvetica, sand-serif;
    font-size: 1em;
}
.annotationpanel .documentcard .mptopics
{
    width: 270px;
}

/* Organization */

.widget-panel .organization-acronym
{
    color: #005200;
    /*font-size: 1.1em;*/
    font-weight: bold;
    display:table-cell;
    /*vertical-align: top;*/
    white-space: nowrap;
    padding-right: 10px;
}

.widget-panel .organization-info {
    display:table-cell;
}

.widget-panel .organization-name
{
    font-family: Verdana, Helvetica, sand-serif;
    font-variant: small-caps;
    font-size: 1.1em;
}

.organizationPanel .parliament-session-text {
    margin-top: 10px;
}

/*.organizationPanel .links {
    padding-top: 12px;
}*/

/*.infoLabel + .links {
    padding-top: 5px;
}*/

/*.organizationPanel .infoLabel {
    color: Gray;
    font-size: 0.8em;
    margin-top: 10px; 
}*/

/* Motion */

/*.motionPanel > div, .motionPanel > span {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.motionPanel > .motionCodeTitle { 
    margin-bottom: 10px;
    font-variant: small-caps;
    font-size: 1.1em;
    display: table; 
}

.motionPanel > .motionCodeTitle > .motionCode {
    color: #005200;
    font-weight: bold;
    display: table-cell;
    white-space: nowrap;
}

.motionPanel > .motionCodeTitle > .motionTitle {
    color: #005200;
    font-weight: bold;
    display: table-cell;
}

.motionPanel > .sponsorLabel, .motionPanel > .motionLatestActivityLabel, .motionPanel > .motionTextLabel {
    color: Gray;
    font-size: 0.8em;
    margin-top: 10px; 
}

.motionPanel > .motionText {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.motionPanel > .links {
    padding-top: 12px;
}*/

.annotationpanel .collapse
{
    float: right;
    bottom: 12px;
    position: relative;
}

.annotationpanel .socialtools
{
    float: right;
    bottom: 0px;
    position: relative;
}

.addvideo
{
    min-width: 650px;
}

.displayTopics .id, .mpvideo .id, .value, .mptopics .id, .displayTopicsForMP .id, .mprss .id, .mpsharelink .id
{
    font-size: 1px;
    visibility: hidden;
}

.affiliationcard, .documentcard
{
    display: inline-block; /* min-width: 430px; */
}
.topicscard
{
    margin-top: 10px;
    background-color: #e1e1e1;
    width: 100%;
}

.topicscard .topic
{
    background-color: #eee;
    padding: 2px 2px 2px 12px;
    margin: 2px;
}
.topicscard .topic:hover
{
    background-color: #fff;
}

.topic .rss
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -200px no-repeat;
    text-indent: -3000px;
    height: 20px;
    width: 20px;
    white-space: nowrap;
    display: inline-block;
    padding-right: 5px;
}


.affiliationcard, .topicscard
{
    float: left;
}

.videofeedcard
{
    float: right;
    display: block;
    border: 1px solid #999;
    padding: 5px;
    width: 240px;
}

.topicInterventionItem
{
    background-color: #ccc;
    padding: 2px 2px 2px 24px;
    margin: 2px;
}
.topicInterventionItem:hover
{
    background-color: #fff;
}
.topicsInterventionsList, .publicationTopicList
{
    background-color: #ddd;
    padding: 5px;
}

.mpdetails .mpname, .mpdetails .billnumber
{
    font-weight: bold;
    font-size: 1.1em;
}

.documentcard .billtitle
{
    font-weight: bold;
}

.mpdetails .mpcaucus, .mpdetails .mparea, .mpdetails .mpprov
{
    font-size: 0.85em;
    line-height: 17px;
    overflow: hidden;
}
.mpcard
{
    padding-bottom: 10px;
}

.arrowup
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -280px no-repeat;
    height: 20px;
    width: 20px;
}
.arrowdown
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -300px no-repeat;
    height: 20px;
    width: 20px;
}
.arrowleft
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -260px no-repeat;
    height: 20px;
    width: 20px;
}
.arrowright
{
    background: url('../Images/HansardButtonsSprite_20.png') 0 -240px no-repeat;
    height: 20px;
    width: 20px;
}

.billsponsor
{
    padding-top: 10px;
}

.progressbar
{
    line-height: normal;
}

input#shareinterventionbox
{
    width: 260px;
    height: 20px;
    padding: 3px;
    font-size: 1.4em;
}

.loading
{
    background: url('../Images/loading.gif') no-repeat;
    width: 16px;
    height: 16px;
    padding: 4px 10px;
}
.billLabel
{
    color: Gray;
    font-size: 0.8em;
    display: inline;

}


/* Copyright Hyperlinks */
.copyright a:link
{
    text-decoration: none;
    color: gray;
}

.copyright a:visited
{
    text-decoration: none;
    color: gray;
}

.copyright a:hover
{
    text-decoration: none;
    color: gray;
}


/* Styles for Bill Progress - copied from LegisInfo */

.ProgressBarSS1,.ProgressBarSS2,.ProgressBarSS3,
.ProgressBarSH1,.ProgressBarSH2,.ProgressBarSH3,.ProgressBarSRA,
.ProgressBarCH1,.ProgressBarCH2,.ProgressBarCH3,
.ProgressBarCS1,.ProgressBarCS2,.ProgressBarCS3,.ProgressBarCRA
{
	height: 6px;
	width: 64px;
	display: inline-block;
}
.ProgressBarSS1{
	background-image: url("../Images/Progress/SS1.gif");
}
.ProgressBarSS2{
	background-image: url("../Images/Progress/SS2.gif");
}
.ProgressBarSS3{
	background-image: url("../Images/Progress/SS3.gif");
}
.ProgressBarSH1{
	background-image: url("../Images/Progress/SH1.gif");
}
.ProgressBarSH2{
	background-image: url("../Images/Progress/SH2.gif");
}
.ProgressBarSH3{
	background-image: url("../Images/Progress/SH3.gif");
}
.ProgressBarSRA{
	background-image: url("../Images/Progress/SRA.gif");
}
.ProgressBarCH1{
	background-image: url("../Images/Progress/CH1.gif");
}
.ProgressBarCH2{
	background-image: url("../Images/Progress/CH2.gif");
}
.ProgressBarCH3{
	background-image: url("../Images/Progress/CH3.gif");
}
.ProgressBarCS1{
	background-image: url("../Images/Progress/CS1.gif");
}
.ProgressBarCS2{
	background-image: url("../Images/Progress/CS2.gif");
}
.ProgressBarCS3{
	background-image: url("../Images/Progress/CS3.gif");
}
.ProgressBarCRA{
	background-image: url("../Images/Progress/CRA.gif");
}



/* END Styles for Bill Progress - copied from LegisInfo */

.progress-bar{
    width: 150px;
    height: 10px;
    display: inline-block;
    float: none;
    margin: 15px;
    border-radius: 100px;
    opacity:0.7;
}

.spinnercentered{
    vertical-align: middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
}